kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 10Gi
      serviceMonitorSelector:
        matchLabels:
          release: monitoring


  alertmanager:
    config:
      global:
        resolve_timeout: 5m

      route:
        receiver: "default"
        group_by: ["alertname", "namespace"]
        group_wait: 30s
        group_interval: 5m
        repeat_interval: 3h

        routes:
        - matchers:
          - team="devops"
          - severity=~"warning|critical"
          receiver: "devops-discord"

      receivers:
      - name: "devops-discord"
        discord_configs:
        - webhook_url: "<discord_webhook_url>"

istio:
  gatewayName: main-gw
  gatewayNamespace: istio-system
  grafana:
    enabled: true
    host: grafana.localhost
  prometheus:
    enabled: true
    host: prom.localhost